html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}


header {
    height: 100vh;
    background-image: url(/images/manhattan-407703.jpg);
    background-size: cover;
    background-attachment: fixed;
}

  
  nav {
    height: 50px;

    ul {
        padding-top: 10px;
        margin-top: 0;
        text-align: right;
    }

    li {
    list-style: none;
    display: inline;
    padding: 0px 30px;
    }
      
    a {
        color: $primary;
        text-decoration: none;
        transition: font-weight 1s,
    }


    a::before {
        content: "";
        position: absolute;
        background-color: black;
        bottom: 0;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all .4s ease-in-out;
    }

    a:hover::before {
        width: 100%;
    }

    .logo {
        text-transform: uppercase;
        position: absolute;
        left: 0;

        // .space {
        //     padding-left: 10px;
        //     border-radius: 50%;
        //     border: 1px solid $secondary;
        // }
    }

    .right-nav {
        text-align: right;
    }
  }

input {
    border-style: solid;
    border-width: 1px;
    border-color: #00B7FF;
    border-radius: 2px;
    font-style: italic;
}

footer {
    height: 50vh;
    background-color: rgba(0, 139, 139, 0.452);
    background: linear-gradient(rgba(97, 173, 144, 0.295),rgba(34, 97, 148, 0.603)), url(/images/wolf-1341881_1920.jpg);
    background-size: cover;
}
  

  