
#button {
    transition: all .7s ease-in-out;
    background-color: #00B7FF;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    padding: 10px 15px;
    opacity: 0;
    visibility: hidden;
    z-index: 500;
    right: 25px;
    top: 530px;
    font-size: 30px;
    color: white;
}

#button:hover {
    box-shadow: 2px 2px 2px black;
    text-shadow: 2px 2px 2px black;
}

#button.show {
    visibility: visible;
    opacity: 1;
}

.scroll-down {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.scroll-down:hover {
    border: 2px solid;
}

.scroll-p {
    margin-top: 57px;
}

#lovers {
    position: absolute;
    z-index: 2;
    transform: translate(38em, 28em);
    opacity: 0;
}

#worship {
    position: absolute;
    z-index: 2;
    transform: translate(38em,54em);
    opacity: 0;
}